body {
    background-color: #FFFDF5;
}

.animacion {
    color: #472922;
    display: flex;
    max-width: 600px;
    max-height: 300px;
}

.titulosH1 {
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
}