@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');

h1 {
    text-align: center;
}

body{
    background-color: #FFFDF5 !important; 
}

select.form-select {
    border-color: #FFA101;
    box-shadow: none;
    padding: 4px 20px;
    background-color: transparent;
    color: #FFA101;
}

select.form-select:focus {
    border-color: #F06B30;
    box-shadow: none;
}



.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartas {
    border-color: #ff862f;
}

.en-camino{
    display: inline-block; 
    padding: 3px 15px;
    border: 1px solid #F06B30; 
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #F06B30;
    font-size: 15px;
}

.entregado{
    display: inline-block; 
    padding: 3px 15px;
    border: 1px solid #61c2d1; 
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #61c2d1;
    font-size: 15px;
}

.cancelado{
    display: inline-block; 
    padding: 3px 15px;
    border: 1px solid #949494; 
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    color: #949494;
    font-size: 15px;
}

.margen{
    margin-left: 200px;
}

a.page-link{
    color: #ff862f;
}

.page.navigation.example .pagination{
    border-color: #ff862f;
}

.pagination-centered {
    display: flex;
    justify-content: center;
}

.row .card{
    border: 1px solid #FAE6B1;
    border-radius: 12px;
    min-height: 120px;
}

/* Imágenes que no se desborden del tamaño de la columna */
.card-img{
    width: 100%;
    height: 100%;
    min-height: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Quitarle los bordes redondeados a la imagen de la card horizontal */
.card-img.horizontal{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.offcanvas-body .card{
    border: 1px solid #FAE6B1;
}

.offcanvas.offcanvas-end{
    background-color: #FFFDF5;
}