div #imagen-perfil {
    width: 176px;
    border-radius: 50%;
    background-color: #FAE6B1;
    object-fit: cover;
    padding: 20px;
    margin: 10px;
}

.insignias-contenedor {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    /* vertical-align: top; */
    margin: 10px;
}

.insignias-contenedor .insignia {
    width: 130px;
    margin: 10px;
}

/* quitar las decoraciones a la ul */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul hr {
    border: 2px solid #472922;
}

#formulario-nombre {
    border: 1px solid #472922;
    width: 75%;
    height: 100%;
    border-radius: 12px;
}

/* 
mediaquery para que con pantallas sm y md .insignias-contenedor se justifique el contenido al centro
*/
@media (max-width: 991px) {
    .insignias-contenedor {
        justify-content: center;
    }

    .insignias-contenedor .insignia {
        width: 100px;
    }
}