.breadcrumb li a{
    color: #FFA101;
    font-size: 14px;
}
.breadcrumb li.active{
    color: #949494;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
    padding: 0px;
}

button.btn-primary{
    border: none;
}

button.btn-primary:first-child:active{
    background-color: #F06B30 ;
}

button.btn-primary{
    background-color: #FFA101;
    border: none;
    padding: 10px;
    padding-left: 4%;
    padding-right: 4%;
}

/* Estilo para estado hover,donde está el cursor encima del botón */
button.btn-primary:hover{
    background-color: #FF862F;
    border: none;
}

/* Estilo para estado active,donde se está presionando el botón */
button.btn-primary:active{
    background-color: #F06B30;
    border: none;
}

button.btn-outline-primary{
    border-color: #FFA101;
    color: #FFA101;
}

/* Estilo para estado hover,donde está el cursor encima del botón */
button.btn-outline-primary:hover{
    background-color: #FF862F;
    border-color: #FF862F;
}

/* Estilo para estado active,donde se está presionando el botón */
button.btn-outline-primary:first-child:active{
    background-color: #F06B30;
    border-color: #F06B30;
}

div hr.border.border-tertiary {
    border-color:  #FAE6B1;
}

div#accordionExample.accordion .accordion-item {
    background-color: transparent;
    border-color: #FFA101;
}

div#accordionExample.accordion .accordion-item .accordion-button {
    background-color: transparent;
    font-family: 'Mukta', sans-serif;
    color: #472922;
    font-size: 18px;
}

div#accordionExample.accordion .accordion-item .accordion-button:focus {
    background-color: #FAE6B1;
    box-shadow: none;
    border-color: #F06B30;
}

div#accordionExample.accordion .accordion-item .accordion-body {
    font-family: 'Mukta', sans-serif;
    color: #472922;
}

div#accordionExample.accordion .accordion-item .accordion-button::after {
    fill: #472922;
}

.hr-crema{
    color: #FAE6B1;
}

.puntajeReviews {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #FFA101;
    font-size: 40px;
}