/* Styles del index */

#iconos-mascotas {
    display: inline;
}

#iconos-mascotas a {
    text-decoration: none;
}

.contenedor-productos {
    margin-top: 20px;
    margin-bottom: 20px;
}

div a .btn-verMas {
    border-radius: 40px;
    color: #FFFDF5;
}

#hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-caption {
    position: static;
}

div .row #hr {
    height: 40px;
}

div .card {
    border-radius: 12px !important;
    height: 100%;
}

#btn-card {
    background: #FFA101;
    border-radius: 40px;
    padding: 2px;
}